
}
* {margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-image: url(/CSS/img/background.bmp);
    padding: 0 24%;
}
div{
    background-color: #FEF9E7;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
.Menu{
    display: flex;
    position: relative;
    font: 16px 'Raleway', serif ;
    color: #1c2833;
    text-transform: capitalize;
    justify-content: space-around;
    margin-top: 45px;

}
.Menu a{
    text-decoration: none;
    color: #1c2833;
}
.Accueil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-top: 45px;
    position: relative;
    padding-left: 100px;
    
}
/* -----logo----*/
.Accueil :first-child{
    display: flex;
    height: 120px;
    width: 117px;
    position :absolute;
    top: -15px;
    left: 10px;
    z-index: 2;

}
.Accueil a{
    display:flex;
    flex-wrap: nowrap;
    font: 16px 'Raleway', serif ;
    color: #1C2833;
    position: relative;
    margin: 25px;
    text-transform: capitalize;
    padding-left: 4px;
    text-decoration: none;    
}

/*------    Bandeau autour du menu      -------*/
.Menu img{
    position: absolute;
    left: -46px;
    top: -20px;
}

.Accueil img{
    position: absolute;
    left: -46px;
    top: 5px;
}

/*----------    Section image logo et leitmotiv        -----------*/
.Presentation{
    display: flex;
    flex-flow: row wrap;
    align-content: center;  
   
}
.Presentation :first-child {
   
    height: 150px;
    width: 150px;
    position: relative;
    top : 50px;
    
}
.Presentation p{
   
    font: 25px 'Indie Flower', serif;
    color: #358E9D;
    text-transform: capitalize;
    width: 60%;
    margin-left: 70px;
  
}
.Presentation :last-child{
    display: flex;
    width: 100%;
    height: 500px;
}

/*---------       A propos de l'entreprise          --------------*/

.Actualite{
    display: flex;
    justify-content: space-between;
}

.Actualite :first-child{
    font: 25px 'Indie Flower', serif;
    color: #358E9D;
    text-transform: capitalize;
    position: relative;
    margin-left: 160px;
    
}
.Actualite :first-child::before{
    content: " ";
    border-top: 1px solid #358E9D;
    border-bottom: 1px solid #358E9D;
    height: 2px;
    width: 100px;
    position: absolute;
    left: -130px;
    top: 12.5px;
}
.Actualite :first-child::after{
    content: " ";
    border-top: 1px solid #358E9D;
    border-bottom: 1px solid #358E9D;
    height: 2px;
    width: 100px;
    position: absolute;
    left: 130px;
    top: 12.5px;
}
.Actualite :last-child{
    font: 25px 'Indie Flower', serif;
    color: #358E9D;
    text-transform: capitalize;
    margin-right: 200px;
    position: relative;
}
.Actualite :last-child::before{
    content: " ";
    border-top: 1px solid #358E9D;
    border-bottom: 1px solid #358E9D;
    height: 2px;
    width: 100px;
    position: absolute;
    left: -130px;
    top: 12.5px;
}
.Actualite :last-child::after{
    content: " ";
    border-top: 1px solid #358E9D;
    border-bottom: 1px solid #358E9D;
    height: 2px;
    width: 100px;
    position: absolute;
    left: 130px;
    top: 12.5px;
}
.Info{
    display: flex;
    justify-content: space-around;
}
.Info p{
    display: flex;
    font: 20px 'Raleway', serif;
    color: #1C2833;
    flex-flow: column nowrap;
    width: 50%;
}
.Info a {
    text-decoration: none;
    color: #1C2833;
}


/*------------        Page decoration           ------------------*/
section{
    display: flex;
    flex-direction: column;
    padding-right: 15px;

}
.Deco{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.Deco article{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: justify;
    margin-left: 10px;
}
.Deco img{
    height: 30%;
    width: 259px;
}
.Deco article h3{
    font: 25px 'Indie Flower', serif;
    margin-bottom: -15px;
}
.Deco article p{
    font: 20px 'Raleway', serif;
}


/*---------------- Page Galerie -----------*/
.Url{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    justify-content: space-around;
    font: 20px 'Raleway', serif;
}
.Url button{
    width: 130px;
    
}
.Photo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}   
.Photo img{
    width: 180px;
}
/*---------     Page Atelier et Planning ----------*/
.Planning{
    display: flex;
    flex-flow: column nowrap;
    font: 20px 'Raleway', serif;
    align-items: center;
}
.decoration{
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 20px 'Raleway', serif;
}

/*------ Page Planning  ------*/
